{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillMatch - Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
</head>

<body>

    <div class="container">

        <!-- Logo -->
        <h1 class="logo">
            <span class="logo-red">Skill</span>Match
        </h1>

        <!-- Formulario -->
        <form method="POST" class="form">
            {% csrf_token %}

            <label for="email">Email institucional</label>
            <input type="email" id="email" name="email">

            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password">

            <button type="submit" class="btn-primary">Iniciar Sesion</button>

            <a href="{% url 'accounts:register' %}">
                <button type="button" class="btn-secondary">Registrate</button>
            </a>

        </form>

        <!-- Divider -->
        <div class="divider">
            <span>OR</span>
        </div>

        <!-- Forgot password -->
        <a href="{% url 'accounts:password_reset' %}">
            <button class="forgot">¿Has olvidado tu contraseña ?</button>
        </a>

        <!-- Footer -->
        <p class="footer">
            By continuing, you agree to our 
            <a href="#">Terms of Services</a> and 
            <a href="#">Private Policy</a>.
        </p>

    </div>

    <!-- JS opcional -->
    <script src="{% static 'accounts/js/login.js' %}"></script>

</body>
</html>
