body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* Centrado EXACTO como el login */
.container {
    width: 90%;
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

/* Logo */
.logo {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bold;
}

.logo-red {
    color: #e53935;
}

/* Título */
.title {
    font-size: 22px;
    margin-bottom: 10px;
    color: black;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Input */
.input-group-custom {
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    border-radius: 4px;
    margin-bottom: 18px;
    padding-left: 10px;
}

.icon {
    font-size: 16px;
    color: #555;
}

.input-group-custom input {
    border: none;
    height: 38px;
    flex: 1;
    padding-left: 10px;
    outline: none;
    font-size: 14px;
}

.note {
    font-size: 12px;
    color: #999;
    margin-top: -10px;
    margin-bottom: 15px;
}

/* Botón principal */
.btn-primary {
    height: 40px;
    background-color: #e53935;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}

/* Volver */
.back {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #1a73e8;
    text-decoration: none;
}
